body {
	background-color: #5CDB95;
	font-family: 'Comic Neue', cursive;
	font-size: 20px;
}
/*Header part*/
#header-nav {
	border-radius: 0;
	background-color: #05386B;
	border: 0;
}
.navbar-brand h1 {
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 0.75;
	color: #FC4445;
}
#nav-list {
	margin-top: 15px;
	text-align: center;
	color: #5CDB95;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #5CDB95;
}
/*End Of Header*/
/*Main Body*/
.main-body {
	border: 3px solid black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}
.paraheading {
	border-bottom: 3px solid black;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}
.contentotxt {
	margin: 10px;
}
.text-center {
	font-size: 2em;
	margin-bottom: 20px;
	font-weight: bold;
}
